@import "./variables.css";

* {
  font-family: "Gilroy-Regular", sans-serif;
}

body {
  margin: 0;
}

button {
  background: transparent;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
