.btn {
  position: relative;
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 600;
  color: var(--gray);
  margin-bottom: 20px;
  transition: 0.3s;
}

.btn:hover {
  color: var(--blue);
}

.btn:active {
  color: var(--blue-active);
}

.btn:global(.active) {
  color: var(--blue);
}

.btn::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 7px;
  height: 7px;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.3s;
}

.btn:global(.active)::before {
  background-color: var(--blue);
}
