.root {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

.label {
  color: var(--lightgray);
  font-size: 22px;
  line-height: 26.4px;
  padding: 0px;
  display: block;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: left;
  transition: 0.3s;
}

.required {
  color: red;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.65) translate(0, -100%);
}

.input {
  font-size: 22px;
  line-height: 26.4px;
  border: none;
  border-bottom: 1px solid var(--lightgray);
  width: 100%;
  padding: 9px 0;
  position: relative;
  z-index: 1;
  background-color: transparent;
  outline: none;
}
